<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.topcheer.ybt.basedata.dao.TopInsPrdPeriodInfoMapper">
<resultMap id="forTopInsprdPeriodInfo" type="com.topcheer.ybt.basedata.entity.TopInsPrdPeriodInfo">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="insPrdcode" column="INSPRD_CODE" jdbcType="VARCHAR" />
		<result property="key" column="KEY" jdbcType="VARCHAR" />
		<result property="unit" column="UNIT" jdbcType="VARCHAR" />
		
	</resultMap>
	<select id="searchAllTopInsPeriodInfo" resultMap="forTopInsprdPeriodInfo"  parameterType="com.topcheer.ybt.basedata.entity.TopInsPrdPeriodInfo">
		select * from top_insprdperiod  where 1=1
		<if test="id != null and id != ''">
			and ID = #{id,jdbcType=VARCHAR}
		</if>
		<if test="insPrdcode != null and insPrdcode!= ''">
		 	and INSPRD_CODE = #{insPrdcode,jdbcType=VARCHAR}
		</if>
		<if test="key != null and key != ''">
		 	and KEY = #{key,jdbcType=VARCHAR}
		</if>
		<if test="unit != null and unit != ''">
		 	and UNIT = #{unit,jdbcType=VARCHAR}
		</if>
	</select>  
	
	<insert id="insertTopInsPeriodInfo"  parameterType="com.topcheer.ybt.basedata.entity.TopInsPrdPeriodInfo">
		INSERT INTO top_insprdperiod (
		ID,
		INSPRD_CODE,
		KEY,
		UNIT
		) VALUES (
		#{id,jdbcType=VARCHAR},
		#{insPrdcode,jdbcType=VARCHAR},
		#{key,jdbcType=VARCHAR},
		#{unit,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateTopInsPeriodInfo"    parameterType="com.topcheer.ybt.basedata.entity.TopInsPrdPeriodInfo">
		UPDATE top_insprdperiod SET
		INSPRD_CODE =  #{insPrdcode,jdbcType=VARCHAR},
		KEY = #{key,jdbcType=VARCHAR},
		UNIT =#{unit,jdbcType=VARCHAR}
		WHERE ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteTopInsPeriodInfo" parameterType="String">
		delete from top_insprdperiod where  ID = #{id,jdbcType=VARCHAR}
	</delete>
	
</mapper>