<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.topcheer.ybt.basedata.dao.TopPayperiodMapper" >
	<resultMap id="TopPayperiodResultMap" type="com.topcheer.ybt.basedata.entity.TopPayperiod" >
       		<result property="id"    column="ID" jdbcType="VARCHAR" />
       		<result property="insprdCode"    column="INSPRD_CODE" jdbcType="VARCHAR" />
       		<result property="key"    column="KEY" jdbcType="VARCHAR" />
       		<result property="unit"    column="UNIT" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="ResultMap" type="com.topcheer.ybt.basedata.entity.TopPayperiod" >
       		<result property="key"    column="KEY" jdbcType="VARCHAR" />
       		<result property="unit"    column="UNIT" jdbcType="VARCHAR" />
	</resultMap>
	
    <sql id="TopPayperiodColumnList" >
    		ID,
    		INSPRD_CODE,
    		KEY,
    		UNIT
    </sql>
    <select id="searchTopPayperiod" resultMap="TopPayperiodResultMap" parameterType="com.topcheer.ybt.basedata.entity.TopPayperiod">
    	select  * from TOP_PAYPERIOD
		where 1=1
    		<if test="id !=null and id != '' ">
		    	and ID = #{id,jdbcType=VARCHAR}
			</if>
    		<if test="insprdCode !=null and insprdCode != '' ">
		    	and INSPRD_CODE = #{insprdCode,jdbcType=VARCHAR}
			</if>
    		<if test="key !=null and key != '' ">
		    	and KEY = #{key,jdbcType=VARCHAR}
			</if>
    		<if test="unit !=null and unit != '' ">
		    	and UNIT = #{unit,jdbcType=VARCHAR}
			</if>
  	</select> 
  	
  	<select id="searchAll" resultMap="TopPayperiodResultMap" parameterType="HashMap">
    	select * from TOP_PAYPERIOD 
  	</select> 
  	
  	<insert id="insert" parameterType="com.topcheer.ybt.basedata.entity.TopPayperiod">
  		
  		INSERT INTO TOP_PAYPERIOD (
    			ID,
    			INSPRD_CODE,
    			KEY,
    			UNIT
  		)VALUES (
    		#{id,jdbcType=VARCHAR},
    		#{insprdCode,jdbcType=VARCHAR},
    		#{key,jdbcType=VARCHAR},
    		#{unit,jdbcType=VARCHAR}
  		)
  	</insert>
  	
  	<insert id="update" parameterType="com.topcheer.ybt.basedata.entity.TopPayperiod">
  		update TOP_PAYPERIOD set  
	      		INSPRD_CODE = #{insprdCode,jdbcType=VARCHAR}  ,
	      		KEY = #{key,jdbcType=VARCHAR}  ,
	      		UNIT = #{unit,jdbcType=VARCHAR}  
  		where ID = #{id,jdbcType=VARCHAR}
  	</insert>
  	
  	<delete id="delete" parameterType="String">
  		delete from TOP_PAYPERIOD where ID = #{id,jdbcType=VARCHAR}
  	</delete>
  	
  	<select id="getTopPayperiod" resultMap="TopPayperiodResultMap" parameterType="String">
  		select * from TOP_PAYPERIOD  where ID = #{id,jdbcType=VARCHAR}
  	</select>
  	<select id="getTopPayperiodListByInsPrdCode" resultMap="ResultMap" parameterType="String">
  		select KEY,UNIT from TOP_PAYPERIOD  where INSPRD_CODE = #{insprdCode,jdbcType=VARCHAR}
  	</select>
</mapper>