<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.0.xsd  
    http://cxf.apache.org/jaxws   
    http://cxf.apache.org/schemas/jaxws.xsd  
    http://cxf.apache.org/jaxrs  
    http://cxf.apache.org/schemas/jaxrs.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<!-- <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" /> -->
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<bean id="userRSService" class="com.topcheer.ybt.restws.UserRSService" />
	<bean id="bankRSService" class="com.topcheer.ybt.restws.BankRSService" />
	<bean id="tranRsService" class="com.topcheer.ybt.restws.TranRsService" />
	<bean id="prdRsService" class="com.topcheer.ybt.restws.PrdRsService" />
	<bean id="prdinforsservice" class="com.topcheer.ybt.restws.PrdInfoRsService" />
	<bean id="baseInfoInRsService" class="com.topcheer.ybt.restws.BaseInfoInRsService" />
	<bean id="insureInforInRsService" class="com.topcheer.ybt.restws.InsureInforInRsService" />
	<bean id="corePayValRsService" class="com.topcheer.ybt.restws.CorePayValRsService" />
	<bean id="cancleBusinessRsService" class="com.topcheer.ybt.restws.CancleBusinessRsService" />
	<bean id="transQueryRsService" class="com.topcheer.ybt.restws.TransQueryRsService" />
	<!-- 这里的地址很重要，客户端需要通过这个地址来访问WebService -->
	<jaxrs:server id="restServiceContainer">
		<jaxrs:serviceBeans>
			<ref bean="userRSService" />
			<ref bean="bankRSService" />
			<ref bean="tranRsService" />
			<ref bean="prdRsService" />
			<ref bean="prdinforsservice" />
			<ref bean="baseInfoInRsService" />
			<ref bean="insureInforInRsService" />
			<ref bean="corePayValRsService" /><!-- 核心扣款 -->
			<ref bean="cancleBusinessRsService" />
			<ref bean="transQueryRsService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
</beans>    