<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd"
	default-lazy-init="true">
	<description>mybatis公共配置 </description>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations"
			value="classpath:com/topcheer/ybt/dao/mapping/**/*.xml" />
		<property name="plugins">
			<ref bean="pageInterceptor" />
		</property>
	</bean>

	<bean id="pageInterceptor" class="com.github.pagehelper.PageHelper">
		<property name="properties">
			<value>
				dialect=oracle<!-- 数据库类型，4.0.0以后版本可以不设置该参数 -->
				offsetAsPageNum=true<!-- 该参数默认为false,设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用,和startPage中的pageNum效果一样 -->
				rowBoundsWithCount=true<!-- 该参数默认为false,设置为true时，使用RowBounds分页会进行count查询 -->
				pageSizeZero=true<!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
				reasonable=true<!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用，启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页，禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
				supportMethodsArguments=false<!-- 支持通过Mapper接口参数来传递分页参数 -->
				returnPageInfo=none<!-- always总是返回PageInfo类型,check检查返回类型是否为PageInfo,none返回Page -->
			</value>
		</property>
	</bean>


	<!--<bean id="pageInterceptor" class="com.topcheer.ybt.util.PageInterceptor"/> -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.topcheer.ybt.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	<!--开发环境 -->
	<beans profile="develop">
		<context:property-placeholder
			ignore-resource-not-found="true"
			location="classpath*:/application.properties,
          			  classpath*:/application.local.properties" />
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
			destroy-method="close">
			<!-- Connection Info -->
			<property name="driverClassName" value="${jdbc.driver}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />

			<!-- Connection Pooling Info -->
			<property name="maxActive" value="${jdbc.pool.maxActive}" />
			<property name="maxIdle" value="${jdbc.pool.maxIdle}" />
			<property name="defaultAutoCommit" value="false" /><!--貌似必须设置false，否则事物无效 -->
			<!-- 获取连接最大等待时间 -->
			<property name="maxWait" value="60000" />
			<!-- mysql 配置， 用于8小时连接失效问题 <property name="validationQuery" value="${validationQuery}" 
				/> -->
			<property name="testOnBorrow" value="false" />
			<property name="testOnReturn" value="false" />
			<property name="testWhileIdle" value="true" />

			<!-- 连接Idle一个小时后超时 -->
			<property name="timeBetweenEvictionRunsMillis" value="3600000" />
			<property name="minEvictableIdleTimeMillis" value="3600000" />
		</bean>


		<!-- 初始化数据表结构 与默认数据 <jdbc:initialize-database data-source="dataSource" 
			ignore-failures="ALL"> <jdbc:script location="classpath:sql/h2/schema.sql" 
			/> <jdbc:script location="classpath:data/h2/import-data.sql" encoding="UTF-8"/> 
			</jdbc:initialize-database> -->
	</beans>
	<!--生产环境 -->
	<beans profile="production">
		<context:property-placeholder
			ignore-resource-not-found="true"
			location="classpath*:/application.properties,
          			  classpath*:/application.local.properties" />
		<!-- JNDI方式配置数据源 -->
		<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			<property name="jndiName" value="${jndiName}"></property>
		</bean>
	</beans>

</beans>