<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.topcheer.ybt.system.dao.TopBankinfoMapper" >
	<resultMap id="TopBankinfoResultMap" type="com.topcheer.ybt.system.entity.TopBankinfo" >
       		<result property="bankId"    column="BANK_ID" jdbcType="VARCHAR" />
       		<result property="bankCode"    column="BANK_CODE" jdbcType="VARCHAR" />
       		<result property="bankName"    column="BANK_NAME" jdbcType="VARCHAR" />
       		<result property="bankLevel"    column="BANK_LEVEL" jdbcType="VARCHAR" />
       		<result property="upBankCode"    column="UP_BANK_CODE" jdbcType="VARCHAR" />
       		<result property="address"    column="ADDRESS" jdbcType="VARCHAR" />
       		<result property="postcode"    column="POSTCODE" jdbcType="VARCHAR" />
       		<result property="phone"    column="PHONE" jdbcType="VARCHAR" />
       		<result property="fax"    column="FAX" jdbcType="VARCHAR" />
       		<result property="status"    column="STATUS" jdbcType="VARCHAR" />
       		<result property="createDate"    column="CREATE_DATE" jdbcType="VARCHAR" />
       		<result property="updateDate"    column="UPDATE_DATE" jdbcType="VARCHAR" />
       		<result property="updateTime"    column="UPDATE_TIME" jdbcType="VARCHAR" />
       		<result property="certNo"    column="CERT_NO" jdbcType="VARCHAR" />
       		<result property="certStartDate"    column="CERT_START_DATE" jdbcType="VARCHAR" />
       		<result property="certEndDate"    column="CERT_END_DATE" jdbcType="VARCHAR" />
       		<result property="remark1"    column="REMARK1" jdbcType="VARCHAR" />
       		<result property="remark2"    column="REMARK2" jdbcType="VARCHAR" />
       		<result property="remark3"    column="REMARK3" jdbcType="VARCHAR" />
       		<result property="remark4"    column="REMARK4" jdbcType="VARCHAR" />
	</resultMap>
    <sql id="TopBankinfoColumnList" >
    		BANK_ID,
    		BANK_CODE,
    		BANK_NAME,
    		BANK_LEVEL,
    		UP_BANK_CODE,
    		ADDRESS,
    		POSTCODE,
    		PHONE,
    		FAX,
    		STATUS,
    		CREATE_DATE,
    		UPDATE_DATE,
    		UPDATE_TIME,
    		CERT_NO,
    		CERT_START_DATE,
    		CERT_END_DATE,
    		REMARK1,
    		REMARK2,
    		REMARK3,
    		REMARK4
    </sql>
    <select id="searchTopBankinfo" resultMap="TopBankinfoResultMap" parameterType="com.topcheer.ybt.system.entity.TopBankinfo">
    	select  * from TOP_BANKINFO
		where 1=1
    		<if test="bankId !=null and bankId != '' ">
		    	and BANK_ID = #{bankId,jdbcType=VARCHAR}
			</if>
    		<if test="bankCode !=null and bankCode != '' ">
		    	<!-- and BANK_CODE = #{bankCode,jdbcType=VARCHAR} -->
		    	and BANK_CODE like '%${bankCode}%'
			</if>
    		<if test="bankName !=null and bankName != '' ">
		    	and BANK_NAME = #{bankName,jdbcType=VARCHAR}
			</if>
    		<if test="bankLevel !=null and bankLevel != '' ">
		    	and BANK_LEVEL = #{bankLevel,jdbcType=VARCHAR}
			</if>
    		<if test="upBankCode !=null and upBankCode != '' ">
		    	and UP_BANK_CODE = #{upBankCode,jdbcType=VARCHAR}
			</if>
    		<if test="address !=null and address != '' ">
		    	and ADDRESS = #{address,jdbcType=VARCHAR}
			</if>
    		<if test="postcode !=null and postcode != '' ">
		    	and POSTCODE = #{postcode,jdbcType=VARCHAR}
			</if>
    		<if test="phone !=null and phone != '' ">
		    	and PHONE = #{phone,jdbcType=VARCHAR}
			</if>
    		<if test="fax !=null and fax != '' ">
		    	and FAX = #{fax,jdbcType=VARCHAR}
			</if>
    		<if test="status !=null and status != '' ">
		    	and STATUS = #{status,jdbcType=VARCHAR}
			</if>
    		<if test="createDate !=null and createDate != '' ">
		    	and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
			</if>
    		<if test="updateDate !=null and updateDate != '' ">
		    	and UPDATE_DATE = #{updateDate,jdbcType=VARCHAR}
			</if>
    		<if test="updateTime !=null and updateTime != '' ">
		    	and UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}
			</if>
    		<if test="certNo !=null and certNo != '' ">
		    	and CERT_NO = #{certNo,jdbcType=VARCHAR}
			</if>
    		<if test="certStartDate !=null and certStartDate != '' ">
		    	and CERT_START_DATE = #{certStartDate,jdbcType=VARCHAR}
			</if>
    		<if test="certEndDate !=null and certEndDate != '' ">
		    	and CERT_END_DATE = #{certEndDate,jdbcType=VARCHAR}
			</if>
    		<if test="remark1 !=null and remark1 != '' ">
		    	and REMARK1 = #{remark1,jdbcType=VARCHAR}
			</if>
    		<if test="remark2 !=null and remark2 != '' ">
		    	and REMARK2 = #{remark2,jdbcType=VARCHAR}
			</if>
    		<if test="remark3 !=null and remark3 != '' ">
		    	and REMARK3 = #{remark3,jdbcType=VARCHAR}
			</if>
    		<if test="remark4 !=null and remark4 != '' ">
		    	and REMARK4 = #{remark4,jdbcType=VARCHAR}
			</if>
  	</select> 
  	
  	<select id="searchAll" resultMap="TopBankinfoResultMap" parameterType="HashMap">
    	select * from TOP_BANKINFO 
  	</select> 
  	
  	<insert id="insert" parameterType="com.topcheer.ybt.system.entity.TopBankinfo">
  		INSERT INTO TOP_BANKINFO (
    			BANK_ID,
    			BANK_CODE,
    			BANK_NAME,
    			BANK_LEVEL,
    			UP_BANK_CODE,
    			ADDRESS,
    			POSTCODE,
    			PHONE,
    			FAX,
    			STATUS,
    			CREATE_DATE,
    			UPDATE_DATE,
    			UPDATE_TIME,
    			CERT_NO,
    			CERT_START_DATE,
    			CERT_END_DATE,
    			REMARK1,
    			REMARK2,
    			REMARK3,
    			REMARK4
  		)VALUES (
    		#{bankId,jdbcType=VARCHAR},
    		#{bankCode,jdbcType=VARCHAR},
    		#{bankName,jdbcType=VARCHAR},
    		#{bankLevel,jdbcType=VARCHAR},
    		#{upBankCode,jdbcType=VARCHAR},
    		#{address,jdbcType=VARCHAR},
    		#{postcode,jdbcType=VARCHAR},
    		#{phone,jdbcType=VARCHAR},
    		#{fax,jdbcType=VARCHAR},
    		#{status,jdbcType=VARCHAR},
    		#{createDate,jdbcType=VARCHAR},
    		#{updateDate,jdbcType=VARCHAR},
    		#{updateTime,jdbcType=VARCHAR},
    		#{certNo,jdbcType=VARCHAR},
    		#{certStartDate,jdbcType=VARCHAR},
    		#{certEndDate,jdbcType=VARCHAR},
    		#{remark1,jdbcType=VARCHAR},
    		#{remark2,jdbcType=VARCHAR},
    		#{remark3,jdbcType=VARCHAR},
    		#{remark4,jdbcType=VARCHAR}
  		)
  	</insert>
  	
  	<insert id="update" parameterType="com.topcheer.ybt.system.entity.TopBankinfo">
  		update TOP_BANKINFO set  
	      		BANK_CODE = #{bankCode,jdbcType=VARCHAR}  ,
	      		BANK_NAME = #{bankName,jdbcType=VARCHAR}  ,
	      		BANK_LEVEL = #{bankLevel,jdbcType=VARCHAR}  ,
	      		UP_BANK_CODE = #{upBankCode,jdbcType=VARCHAR}  ,
	      		ADDRESS = #{address,jdbcType=VARCHAR}  ,
	      		POSTCODE = #{postcode,jdbcType=VARCHAR}  ,
	      		PHONE = #{phone,jdbcType=VARCHAR}  ,
	      		FAX = #{fax,jdbcType=VARCHAR}  ,
	      		STATUS = #{status,jdbcType=VARCHAR}  ,
	      		CREATE_DATE = #{createDate,jdbcType=VARCHAR}  ,
	      		UPDATE_DATE = #{updateDate,jdbcType=VARCHAR}  ,
	      		UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}  ,
	      		CERT_NO = #{certNo,jdbcType=VARCHAR}  ,
	      		CERT_START_DATE = #{certStartDate,jdbcType=VARCHAR}  ,
	      		CERT_END_DATE = #{certEndDate,jdbcType=VARCHAR}  ,
	      		REMARK1 = #{remark1,jdbcType=VARCHAR}  ,
	      		REMARK2 = #{remark2,jdbcType=VARCHAR}  ,
	      		REMARK3 = #{remark3,jdbcType=VARCHAR}  ,
	      		REMARK4 = #{remark4,jdbcType=VARCHAR}  
  		where BANK_ID = #{bankId,jdbcType=VARCHAR}
  	</insert>
  	
  	<delete id="delete" parameterType="String">
  		delete from TOP_BANKINFO where BANK_ID = #{bankId,jdbcType=VARCHAR}
  	</delete>
  	
  	<select id="getTopBankinfo" resultMap="TopBankinfoResultMap" parameterType="String">
  		select * from TOP_BANKINFO  where BANK_CODE = #{bankCode,jdbcType=VARCHAR}
  	</select>
  	
  	<select id="getBankInfoAjax" resultMap="TopBankinfoResultMap" parameterType="HashMap">
    	select *
		  from top_bankinfo
		  where bank_level between 0 and 1 
  	</select> 
  	
  	<select id="getChildrenBankInfo" resultMap="TopBankinfoResultMap" parameterType="String">
  		select * from top_bankinfo tb start with tb.bank_code=#{bankCode,jdbcType=VARCHAR} connect by tb.up_bank_code=prior tb.bank_code
  	</select>
</mapper>