<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.topcheer.ybt.system.dao.TopMenuinfoMapper">
	<resultMap id="TopMenuinfoResultMap" type="com.topcheer.ybt.system.entity.TopMenuinfo">
		<result property="menuId" column="MENU_ID" jdbcType="VARCHAR" />
		<result property="menuCode" column="MENU_CODE" jdbcType="VARCHAR" />
		<result property="menuName" column="MENU_NAME" jdbcType="VARCHAR" />
		<result property="upMenuCode" column="UP_MENU_CODE" jdbcType="VARCHAR" />
		<result property="menuUrl" column="MENU_URL" jdbcType="VARCHAR" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="createDate" column="CREATE_DATE" jdbcType="VARCHAR" />
		<result property="updateDate" column="UPDATE_DATE" jdbcType="VARCHAR" />
		<result property="updateTime" column="UPDATE_TIME" jdbcType="VARCHAR" />
		<result property="updateOperator" column="UPDATE_OPERATOR" jdbcType="VARCHAR" />
		<result property="icon" column="ICON" jdbcType="VARCHAR" />
		<result property="remark1" column="REMARK1" jdbcType="VARCHAR" />
		<result property="remark2" column="REMARK2" jdbcType="VARCHAR" />
		<result property="remark3" column="REMARK3" jdbcType="VARCHAR" />
		<result property="remark4" column="REMARK4" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="MenuResultMap" type="com.topcheer.ybt.data.MenuResult">
		<result property="menuCode" column="MENU_CODE" jdbcType="VARCHAR" />
		<result property="upMenuCode" column="UP_MENU_CODE" jdbcType="VARCHAR" />
		<result property="menuName" column="MENU_NAME" jdbcType="VARCHAR" />
		<result property="menuUrl" column="MENU_URL" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="TopMenuinfoColumnList">
		MENU_ID,
		MENU_CODE,
		FA_MENU_CODE,
		MENU_NAME,
		icon,
		MENU_URL,
		STATUS,
		CREATE_DATE,
		UPDATE_DATE,
		UPDATE_TIME,
		UPDATE_OPERATOR,
		REMARK1,
		REMARK2,
		REMARK3,
		REMARK4,
		REMARK5
	</sql>
	<select id="searchTopMenuinfo" resultMap="TopMenuinfoResultMap"
		parameterType="com.topcheer.ybt.system.entity.TopMenuinfo">
		select * from TOP_MENUINFO
		where 1=1
		<if test="menuId !=null and menuId != '' ">
			and MENU_ID = #{menuId,jdbcType=VARCHAR}
		</if>
		<if test="menuCode !=null and menuCode != '' ">
			and MENU_CODE = #{menuCode,jdbcType=VARCHAR}
		</if>
		<if test="upMenuCode !=null and upMenuCode != '' ">
			and UP_MENU_CODE = #{upMenuCode,jdbcType=VARCHAR}
		</if>
		<if test="menuName !=null and menuName != '' ">
			and MENU_NAME = #{menuName,jdbcType=VARCHAR}
		</if>
		<if test="menuUrl !=null and menuUrl != '' ">
			and MENU_URL = #{menuUrl,jdbcType=VARCHAR}
		</if>
		<if test="status !=null and status != '' ">
			and STATUS = #{status,jdbcType=CHAR}
		</if>
		<if test="createDate !=null and createDate != '' ">
			and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
		</if>
		<if test="updateDate !=null and updateDate != '' ">
			and UPDATE_DATE = #{updateDate,jdbcType=VARCHAR}
		</if>
		<if test="updateTime !=null and updateTime != '' ">
			and UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}
		</if>
		<if test="updateOperator !=null and updateOperator != '' ">
			and UPDATE_OPERATOR = #{updateOperator,jdbcType=VARCHAR}
		</if>
		<if test="remark1 !=null and remark1 != '' ">
			and REMARK1 = #{remark1,jdbcType=VARCHAR}
		</if>
		<if test="remark2 !=null and remark2 != '' ">
			and REMARK2 = #{remark2,jdbcType=VARCHAR}
		</if>
		<if test="remark3 !=null and remark3 != '' ">
			and REMARK3 = #{remark3,jdbcType=VARCHAR}
		</if>
		<if test="remark4 !=null and remark4 != '' ">
			and REMARK4 = #{remark4,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="searchMenuByUserId" parameterType="java.lang.String" resultMap="TopMenuinfoResultMap">
		select distinct t3.menu_id,
		       t3.menu_code,
		       t3.menu_name,
		       t3.up_menu_code,
		       t3.menu_url,
		       t3.status,
		       t3.create_date,
		       t3.update_date,
		       t3.update_time,
		       t3.update_operator,
		       t3.icon,
		       t3.remark1,
		       t3.remark2,
		       t3.remark3,
		       t3.remark4
		from 
		       top_user_role t1,
		       top_menu_role t2,
		       top_menuinfo t3
		where t1.role_id = t2.role_id 
		      and t2.menu_id = t3.menu_id
		      and t1.user_id=#{userId,jdbcType=VARCHAR}
	</select>

	<select id="searchAll" resultMap="TopMenuinfoResultMap"
		parameterType="HashMap">
		select * from TOP_MENUINFO
	</select>

	<insert id="insert" parameterType="com.topcheer.ybt.system.entity.TopMenuinfo">
		<selectKey resultType="String" keyProperty="menuId" order="BEFORE"> 
	      SELECT SEQ_MENU.NEXTVAL FROM DUAL
	    </selectKey>
		INSERT INTO TOP_MENUINFO (
		MENU_ID,
		MENU_CODE,
		UP_MENU_CODE,
		MENU_NAME,
		MENU_URL,
		STATUS,
		CREATE_DATE,
		UPDATE_DATE,
		UPDATE_TIME,
		UPDATE_OPERATOR,
		REMARK1,
		REMARK2,
		REMARK3,
		REMARK4
		)VALUES (
		#{menuId,jdbcType=VARCHAR},
		#{menuCode,jdbcType=VARCHAR},
		#{upMenuCode,jdbcType=VARCHAR},
		#{menuName,jdbcType=VARCHAR},
		#{menuUrl,jdbcType=VARCHAR},
		#{status,jdbcType=CHAR},
		#{createDate,jdbcType=VARCHAR},
		#{updateDate,jdbcType=VARCHAR},
		#{updateTime,jdbcType=VARCHAR},
		#{updateOperator,jdbcType=VARCHAR},
		#{remark1,jdbcType=VARCHAR},
		#{remark2,jdbcType=VARCHAR},
		#{remark3,jdbcType=VARCHAR},
		#{remark4,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="update" parameterType="com.topcheer.ybt.system.entity.TopMenuinfo">
		update TOP_MENUINFO set
		MENU_CODE = #{menuCode,jdbcType=VARCHAR} ,
		UP_MENU_CODE = #{upMenuCode,jdbcType=VARCHAR} ,
		MENU_NAME = #{menuName,jdbcType=VARCHAR} ,
		MENU_URL = #{menuUrl,jdbcType=VARCHAR} ,
		STATUS = #{status,jdbcType=CHAR} ,
		UPDATE_DATE = #{updateDate,jdbcType=VARCHAR} ,
		UPDATE_TIME = #{updateTime,jdbcType=VARCHAR} ,
		UPDATE_OPERATOR = #{updateOperator,jdbcType=VARCHAR} ,
		REMARK1 = #{remark1,jdbcType=VARCHAR} ,
		REMARK2 = #{remark2,jdbcType=VARCHAR} ,
		REMARK3 = #{remark3,jdbcType=VARCHAR} ,
		REMARK4 = #{remark4,jdbcType=VARCHAR}
		where MENU_ID = #{menuId,jdbcType=VARCHAR}
	</insert>

	<delete id="delete" parameterType="String">
		delete from TOP_MENUINFO where MENU_ID = #{menuId,jdbcType=VARCHAR}
	</delete>

	<select id="getTopMenuinfo" resultMap="TopMenuinfoResultMap"
		parameterType="String">
		select * from TOP_MENUINFO where MENU_ID = #{menuId,jdbcType=VARCHAR}
	</select>

	<select id="getTopMenusByUserId" resultMap="MenuResultMap"
		parameterType="String">
		select * from top_menuinfo t1 where t1.menu_code in(
		select distinct(menu_id) from top_task_menu t where t.role_id
		in(select role_id from top_user_role where
		user_id = (select user_id from top_userinfo where
		login_account=#{loginAccount,jdbcType=VARCHAR}))
		) start with t1.up_menu_code='YBT_YD' connect by prior
		t1.menu_code=t1.up_menu_code

	</select>
</mapper>