<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.topcheer.ybt.system.dao.TopRoleinfoMapper">
	<resultMap id="TopRoleinfoResultMap" type="com.topcheer.ybt.system.entity.TopRoleinfo">
		<result property="roleId" column="ROLE_ID" jdbcType="VARCHAR" />
		<result property="roleCode" column="ROLE_CODE" jdbcType="VARCHAR" />
		<result property="roleName" column="ROLE_NAME" jdbcType="VARCHAR" />
		<result property="description" column="DESCRIPTION" jdbcType="VARCHAR" />
		<result property="isreview" column="ISREVIEW" jdbcType="CHAR" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="createDate" column="CREATE_DATE" jdbcType="VARCHAR" />
		<result property="updateDate" column="UPDATE_DATE" jdbcType="VARCHAR" />
		<result property="updateTime" column="UPDATE_TIME" jdbcType="VARCHAR" />
		<result property="updateOperator" column="UPDATE_OPERATOR"
			jdbcType="VARCHAR" />
		<result property="remark1" column="REMARK1" jdbcType="VARCHAR" />
		<result property="remark2" column="REMARK2" jdbcType="VARCHAR" />
		<result property="remark3" column="REMARK3" jdbcType="VARCHAR" />
		<result property="remark4" column="REMARK4" jdbcType="VARCHAR" />
		<result property="remark5" column="REMARK5" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="TopRoleinfoColumnList">
		ROLE_ID,
		ROLE_CODE,
		ROLE_NAME,
		DESCRIPTION,
		ISREVIEW,
		STATUS,
		CREATE_DATE,
		UPDATE_DATE,
		UPDATE_TIME,
		UPDATE_OPERATOR,
		REMARK1,
		REMARK2,
		REMARK3,
		REMARK4,
		REMARK5
	</sql>
	<select id="searchTopRoleinfo" resultMap="TopRoleinfoResultMap"
		parameterType="com.topcheer.ybt.system.entity.TopRoleinfo">
		select * from TOP_ROLEINFO
		where 1=1
		<if test="roleId !=null and roleId != '' ">
			and ROLE_ID = #{roleId,jdbcType=VARCHAR}
		</if>
		<if test="roleCode !=null and roleCode != '' ">
			and ROLE_CODE = #{roleCode,jdbcType=VARCHAR}
		</if>
		<if test="roleName !=null and roleName != '' ">
			and ROLE_NAME = #{roleName,jdbcType=VARCHAR}
		</if>
		<if test="description !=null and description != '' ">
			and DESCRIPTION = #{description,jdbcType=VARCHAR}
		</if>
		<if test="isreview !=null and isreview != '' ">
			and ISREVIEW = #{isreview,jdbcType=CHAR}
		</if>
		<if test="status !=null and status != '' ">
			and STATUS = #{status,jdbcType=CHAR}
		</if>
		<if test="createDate !=null and createDate != '' ">
			and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
		</if>
		<if test="updateDate !=null and updateDate != '' ">
			and UPDATE_DATE = #{updateDate,jdbcType=VARCHAR}
		</if>
		<if test="updateTime !=null and updateTime != '' ">
			and UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}
		</if>
		<if test="updateOperator !=null and updateOperator != '' ">
			and UPDATE_OPERATOR = #{updateOperator,jdbcType=VARCHAR}
		</if>
		<if test="remark1 !=null and remark1 != '' ">
			and REMARK1 = #{remark1,jdbcType=VARCHAR}
		</if>
		<if test="remark2 !=null and remark2 != '' ">
			and REMARK2 = #{remark2,jdbcType=VARCHAR}
		</if>
		<if test="remark3 !=null and remark3 != '' ">
			and REMARK3 = #{remark3,jdbcType=VARCHAR}
		</if>
		<if test="remark4 !=null and remark4 != '' ">
			and REMARK4 = #{remark4,jdbcType=VARCHAR}
		</if>
		<if test="remark5 !=null and remark5 != '' ">
			and REMARK5 = #{remark5,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="searchAll" resultMap="TopRoleinfoResultMap"
		parameterType="HashMap">
		select * from TOP_ROLEINFO
	</select>

	<insert id="insert" parameterType="com.topcheer.ybt.system.entity.TopRoleinfo">
		INSERT INTO TOP_ROLEINFO (
		ROLE_ID,
		ROLE_CODE,
		ROLE_NAME,
		DESCRIPTION,
		ISREVIEW,
		STATUS,
		CREATE_DATE,
		UPDATE_DATE,
		UPDATE_TIME,
		UPDATE_OPERATOR,
		REMARK1,
		REMARK2,
		REMARK3,
		REMARK4,
		REMARK5
		)VALUES (
		#{roleId,jdbcType=VARCHAR},
		#{roleCode,jdbcType=VARCHAR},
		#{roleName,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{isreview,jdbcType=CHAR},
		#{status,jdbcType=CHAR},
		#{createDate,jdbcType=VARCHAR},
		#{updateDate,jdbcType=VARCHAR},
		#{updateTime,jdbcType=VARCHAR},
		#{updateOperator,jdbcType=VARCHAR},
		#{remark1,jdbcType=VARCHAR},
		#{remark2,jdbcType=VARCHAR},
		#{remark3,jdbcType=VARCHAR},
		#{remark4,jdbcType=VARCHAR},
		#{remark5,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="update" parameterType="com.topcheer.ybt.system.entity.TopRoleinfo">
		update TOP_ROLEINFO set
		ROLE_CODE = #{roleCode,jdbcType=VARCHAR} ,
		ROLE_NAME = #{roleName,jdbcType=VARCHAR} ,
		DESCRIPTION = #{description,jdbcType=VARCHAR} ,
		ISREVIEW = #{isreview,jdbcType=CHAR} ,
		STATUS = #{status,jdbcType=CHAR} ,
		CREATE_DATE = #{createDate,jdbcType=VARCHAR} ,
		UPDATE_DATE = #{updateDate,jdbcType=VARCHAR} ,
		UPDATE_TIME = #{updateTime,jdbcType=VARCHAR} ,
		UPDATE_OPERATOR = #{updateOperator,jdbcType=VARCHAR} ,
		REMARK1 = #{remark1,jdbcType=VARCHAR} ,
		REMARK2 = #{remark2,jdbcType=VARCHAR} ,
		REMARK3 = #{remark3,jdbcType=VARCHAR} ,
		REMARK4 = #{remark4,jdbcType=VARCHAR} ,
		REMARK5 = #{remark5,jdbcType=VARCHAR}
		where ROLE_ID = #{roleId,jdbcType=VARCHAR}
	</insert>

	<delete id="delete" parameterType="String">
		delete from TOP_ROLEINFO where ROLE_ID = #{roleId,jdbcType=VARCHAR}
	</delete>

	<select id="getTopRoleinfo" resultMap="TopRoleinfoResultMap"
		parameterType="String">
		select * from TOP_ROLEINFO where ROLE_ID = #{roleId,jdbcType=VARCHAR}
	</select>
</mapper>