<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.topcheer.ybt.dao.system.Select2Mapper">
<resultMap id="ForSelect2" type="com.topcheer.ybt.entity.system.TopMenuInfoForSelect2">
		<result property="menuCode" column="MENU_CODE" jdbcType="VARCHAR" />
		<result property="menuName" column="MENU_NAME" jdbcType="VARCHAR" />
		<result property="faMenuCode" column="FA_MENU_CODE" jdbcType="VARCHAR" />
	</resultMap>
	<select id="searchAll" resultMap="ForSelect2">
		select MENU_CODE, MENU_NAME,FA_MENU_CODE from TOP_MENUINFO
	</select>
	
	
	 <select id="searchWhere" resultMap="ForSelect2">
		select MENU_CODE, MENU_NAME,FA_MENU_CODE from TOP_MENUINFO where FA_MENU_CODE=#{faMenuCode,jdbcType=VARCHAR}
	</select> 
</mapper>
		